.{
    margin:0;
    padding: 0;
    boc-sizing: border-box;

}
.bg-dark{
    background-color:#75767B;

}

.mt-50{
    margin-top:50px;
}
body{
 background-image: url('car2.jpg');
 background-repeat: no-repeat;
  background-size: 100% 100%;
}

